@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background: #1A1A1A;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 69.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.fp-init body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

[data-fp] {
  min-height: 100vh;
}

.touch [data-fp] {
  min-height: calc(var(--vh, 1vh) * 100);
}

.fp-init [data-fp] {
  z-index: 1;
  -ms-touch-action: none;
      touch-action: none;
  position: relative;
  overflow: hidden;
}

.fp-switching [data-fp-section] {
  -ms-touch-action: none;
      touch-action: none;
}

.fp-init [data-fp-section] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.fp-init .slider-mode [data-fp-section],
.fp-init .cards-mode [data-fp-section] {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  -o-transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s, -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
}

.fp-init .fade-mode [data-fp-section] {
  -webkit-transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
  -o-transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
  transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
}

.fp-bullets {
  position: fixed;
  bottom: 10%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 2.5rem;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  gap: 1.25rem;
}

.fp-bullets .fp-bullet {
  cursor: pointer;
  width: 0.9375rem;
  height: 0.9375rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.9375rem;
          flex: 0 0 0.9375rem;
  border-radius: 0.625rem;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0rem 0rem 0.1875rem #fafafa, 0 0 1.25rem rgb(255, 255, 255);
          box-shadow: 0rem 0rem 0.1875rem #fafafa, 0 0 1.25rem rgb(255, 255, 255);
  border: 0.125rem solid #34C759;
  opacity: 0.6;
  -webkit-transition: opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s, -webkit-box-shadow 0.4s ease-in-out 0s;
  transition: opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s, -webkit-box-shadow 0.4s ease-in-out 0s;
  -o-transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s;
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s;
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s, -webkit-box-shadow 0.4s ease-in-out 0s;
}

.fp-bullets .fp-bullet-active {
  opacity: 1;
  background-color: rgba(52, 199, 89, 0.631372549);
  -webkit-transform: translate3D(-0.125rem, -0.125rem, 0);
      -ms-transform: translate3D(-0.125rem, -0.125rem, 0);
          transform: translate3D(-0.125rem, -0.125rem, 0);
  -webkit-box-shadow: 0.3125rem 0.125rem 0.1875rem #100c46, 0 0 1.875rem rgba(255, 255, 255, 0.8);
          box-shadow: 0.3125rem 0.125rem 0.1875rem #100c46, 0 0 1.875rem rgba(255, 255, 255, 0.8);
  border: 0.0625rem solid rgb(255, 255, 255);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.slider-pages__we-believe {
  padding-top: 7.5rem;
}

@supports (padding-bottom: clamp( 3.125rem , 2.881097561rem  +  1.2195121951vw , 3.75rem )) {
  .slider-pages__we-believe {
    padding-bottom: clamp( 3.125rem , 2.881097561rem  +  1.2195121951vw , 3.75rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.881097561rem  +  1.2195121951vw , 3.75rem )) {
  .slider-pages__we-believe {
    padding-bottom: calc(3.125rem + 0.625 * (100vw - 20rem) / 51.25);
  }
}

.slider-pages__customers {
  padding-top: 6.25rem;
}

@supports (padding-bottom: clamp( 3.125rem , 2.881097561rem  +  1.2195121951vw , 3.75rem )) {
  .slider-pages__customers {
    padding-bottom: clamp( 3.125rem , 2.881097561rem  +  1.2195121951vw , 3.75rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.881097561rem  +  1.2195121951vw , 3.75rem )) {
  .slider-pages__customers {
    padding-bottom: calc(3.125rem + 0.625 * (100vw - 20rem) / 51.25);
  }
}

.slider-pages__subsctibe {
  padding-top: 150px;
}

@supports (padding-bottom: clamp( 3.125rem , 2.881097561rem  +  1.2195121951vw , 3.75rem )) {
  .slider-pages__subsctibe {
    padding-bottom: clamp( 3.125rem , 2.881097561rem  +  1.2195121951vw , 3.75rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.881097561rem  +  1.2195121951vw , 3.75rem )) {
  .slider-pages__subsctibe {
    padding-bottom: calc(3.125rem + 0.625 * (100vw - 20rem) / 51.25);
  }
}

.main-button {
  background: #34c759;
  border-radius: 43px;
  display: inline-block;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.2222222222;
  text-align: center;
  letter-spacing: 0.2em;
  color: #1a1a1a;
}

.titles {
  position: relative;
}

.titles__main-title {
  font-size: 2.25rem;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  color: #d9d9d9;
  position: absolute;
  top: 55%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@supports (font-size: clamp( 2.25rem , 2.25rem  +  0vw , 2.25rem )) {
  .titles__main-title {
    font-size: clamp( 2.25rem , 2.25rem  +  0vw , 2.25rem );
  }
}

@supports not (font-size: clamp( 2.25rem , 2.25rem  +  0vw , 2.25rem )) {
  .titles__main-title {
    font-size: calc(2.25rem + 0 * (100vw - 20rem) / 51.25);
  }
}

@supports (line-height: clamp( 2.5rem , 1.2804878049rem  +  6.0975609756vw , 5.625rem )) {
  .titles__main-title {
    line-height: clamp( 2.5rem , 1.2804878049rem  +  6.0975609756vw , 5.625rem );
  }
}

@supports not (line-height: clamp( 2.5rem , 1.2804878049rem  +  6.0975609756vw , 5.625rem )) {
  .titles__main-title {
    line-height: calc(2.5rem + 3.125 * (100vw - 20rem) / 51.25);
  }
}

.titles__under-title {
  font-weight: 900;
  font-size: 6.25rem;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.2em;
  color: #303030;
}

@supports (font-size: clamp( 6.25rem , 6.25rem  +  0vw , 6.25rem )) {
  .titles__under-title {
    font-size: clamp( 6.25rem , 6.25rem  +  0vw , 6.25rem );
  }
}

@supports not (font-size: clamp( 6.25rem , 6.25rem  +  0vw , 6.25rem )) {
  .titles__under-title {
    font-size: calc(6.25rem + 0 * (100vw - 20rem) / 51.25);
  }
}

.socials {
  max-width: 38.75rem;
  margin: 0 auto;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
}

.socials__item {
  width: 6.25rem;
  height: 6.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.25rem;
          flex: 0 0 6.25rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials__link {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  background: #000;
  border: 1px solid #34C759;
  -webkit-transition: background-color 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s, transform 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, transform 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.socials__icon {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.719);
  border-bottom: 1px solid #85878C;
}

.header__container {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.5625rem;
     -moz-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.header__logo {
  color: #34C759;
  font-weight: 900;
  font-size: 30px;
}

.menu-open .menu {
  top: 0%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.8125rem;
     -moz-column-gap: 2.8125rem;
          column-gap: 2.8125rem;
  row-gap: 0.9375rem;
}

.menu__link {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  font-weight: 700;
  font-size: 0.875rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon-menu {
  display: none;
}

.main-page__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-top: 7.5rem;
}

@supports (padding-bottom: clamp( 3.125rem , 2.881097561rem  +  1.2195121951vw , 3.75rem )) {
  .main-page__wrap {
    padding-bottom: clamp( 3.125rem , 2.881097561rem  +  1.2195121951vw , 3.75rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.881097561rem  +  1.2195121951vw , 3.75rem )) {
  .main-page__wrap {
    padding-bottom: calc(3.125rem + 0.625 * (100vw - 20rem) / 51.25);
  }
}

.main-page__container {
  z-index: 2;
  position: relative;
}

.main-page__top {
  text-align: center;
}

@supports (margin-bottom: clamp( 2.5rem , 1.7682926829rem  +  3.6585365854vw , 4.375rem )) {
  .main-page__top:not(:last-child) {
    margin-bottom: clamp( 2.5rem , 1.7682926829rem  +  3.6585365854vw , 4.375rem );
  }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.7682926829rem  +  3.6585365854vw , 4.375rem )) {
  .main-page__top:not(:last-child) {
    margin-bottom: calc(2.5rem + 1.875 * (100vw - 20rem) / 51.25);
  }
}

.main-page__bottom {
  max-width: 57.1875rem;
  margin: 0 auto;
}

.top-main-page__title {
  font-size: 70px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  font-weight: 300;
}

@supports (font-size: clamp( 2.5rem , 1.7682926829rem  +  3.6585365854vw , 4.375rem )) {
  .top-main-page__title {
    font-size: clamp( 2.5rem , 1.7682926829rem  +  3.6585365854vw , 4.375rem );
  }
}

@supports not (font-size: clamp( 2.5rem , 1.7682926829rem  +  3.6585365854vw , 4.375rem )) {
  .top-main-page__title {
    font-size: calc(2.5rem + 1.875 * (100vw - 20rem) / 51.25);
  }
}

@supports (line-height: clamp( 3.125rem , 2.2957317073rem  +  4.1463414634vw , 5.25rem )) {
  .top-main-page__title {
    line-height: clamp( 3.125rem , 2.2957317073rem  +  4.1463414634vw , 5.25rem );
  }
}

@supports not (line-height: clamp( 3.125rem , 2.2957317073rem  +  4.1463414634vw , 5.25rem )) {
  .top-main-page__title {
    line-height: calc(3.125rem + 2.125 * (100vw - 20rem) / 51.25);
  }
}

.top-main-page__title span {
  font-weight: 600;
  color: #34C759;
}

.top-main-page__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.top-main-page__some-text {
  font-weight: 400;
  line-height: 162%;
  text-align: center;
  letter-spacing: -0.2px;
  opacity: 0.7;
}

.top-main-page__some-text:not(:last-child) {
  margin-bottom: 2.5rem;
}

.top-main-page__button {
  position: relative;
  min-width: 15.625rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
  background: rgb(0, 0, 0);
  color: #fff;
  border: 1px solid #fff;
  -webkit-transition: background 0.5s ease 0s, color 0.5s ease 0s, border 0.5s ease 0s;
  -o-transition: background 0.5s ease 0s, color 0.5s ease 0s, border 0.5s ease 0s;
  transition: background 0.5s ease 0s, color 0.5s ease 0s, border 0.5s ease 0s;
  overflow: hidden;
}

.top-main-page__button span {
  z-index: 2;
  position: relative;
}

.top-main-page__button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -40%;
  background: #34C759;
  z-index: 1;
  border-radius: 65% 35% 100% 0%/0% 100% 0% 100%;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.625rem;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.item-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.875;
  text-align: center;
  min-width: 15.3125rem;
}

.item-contacts__icon:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.item-contacts__info_link {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.item-contacts__name {
  font-size: 0.875rem;
  opacity: 0.5;
}

.slider-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.slider-bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.712);
  z-index: 2;
}

.slider-bg__wrapper {
  min-height: 100%;
}

.slider-bg__slide {
  position: relative;
  height: 100%;
}

.slider-bg__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50%;
     object-position: 50%;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.no-webp .work .work__wrapper{
  background: url("../img/fixed2.jpg") 60%/cover no-repeat; }

.work .work__wrapper {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding-top: 9.375rem;
}

@supports (padding-bottom: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem )) {
  .work .work__wrapper {
    padding-bottom: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem )) {
  .work .work__wrapper {
    padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 51.25);
  }
}

.work .work__wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.712);
  top: 0;
  left: 0;
}

.work__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports (margin-bottom: clamp( 1.875rem , 0.1676829268rem  +  8.5365853659vw , 6.25rem )) {
  .work__top:not(:last-child) {
    margin-bottom: clamp( 1.875rem , 0.1676829268rem  +  8.5365853659vw , 6.25rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.1676829268rem  +  8.5365853659vw , 6.25rem )) {
  .work__top:not(:last-child) {
    margin-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 51.25);
  }
}

.work__slider-slide {
  height: 100%;
}

.work-slide-body {
  padding: 24px 24px 42px 24px;
  background: rgba(37, 37, 37, 0.8274509804);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #34C759;
}

.work-slide-body__title {
  font-size: 22px;
  line-height: 1.1818181818;
  letter-spacing: -0.0171875rem;
  text-transform: capitalize;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work-slide-body__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.work-slide-body__title::after {
  margin-top: 1.25rem;
  content: "";
  width: 3.5rem;
  height: 2px;
  background-color: #34C759;
  bottom: 0;
  left: 0;
}

.work-slide-body__text {
  font-size: 13px;
  line-height: 1.3846153846;
  letter-spacing: -0.01015625rem;
  color: rgba(255, 255, 255, 0.5);
}

.no-webp .we-belive{
  background: url("../img/what-we-belive/bg.jpg") 0 0/cover no-repeat; }

.we-belive__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
}

@supports ((-moz-column-gap: clamp( 2.1875rem , -6.5987892584rem  +  17.5947919416vw , 5.9375rem )) or (column-gap: clamp( 2.1875rem , -6.5987892584rem  +  17.5947919416vw , 5.9375rem ))) {
  .we-belive__container {
    -webkit-column-gap: clamp( 2.1875rem , -6.5987892584rem  +  17.5947919416vw , 5.9375rem );
       -moz-column-gap: clamp( 2.1875rem , -6.5987892584rem  +  17.5947919416vw , 5.9375rem );
            column-gap: clamp( 2.1875rem , -6.5987892584rem  +  17.5947919416vw , 5.9375rem );
  }
}

@supports not ((-moz-column-gap: clamp( 2.1875rem , -6.5987892584rem  +  17.5947919416vw , 5.9375rem )) or (column-gap: clamp( 2.1875rem , -6.5987892584rem  +  17.5947919416vw , 5.9375rem ))) {
  .we-belive__container {
    -webkit-column-gap: calc(2.1875rem + 3.75 * (100vw - 49.936875rem) / 21.313125);
       -moz-column-gap: calc(2.1875rem + 3.75 * (100vw - 49.936875rem) / 21.313125);
            column-gap: calc(2.1875rem + 3.75 * (100vw - 49.936875rem) / 21.313125);
  }
}

.we-belive__wrap-img {
  position: relative;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.we-belive__image-ibg {
  padding-bottom: 100%;
  height: 100%;
  z-index: 2;
}

.content-we-belive {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.content-we-belive__subtitle {
  font-weight: 700;
  font-size: 1.4375rem;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.content-we-belive__subtitle:not(:last-child) {
  margin-bottom: 0.5rem;
}

.content-we-belive__title {
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #34C759;
}

@supports (font-size: clamp( 2.5rem , 1.9146341463rem  +  2.9268292683vw , 4rem )) {
  .content-we-belive__title {
    font-size: clamp( 2.5rem , 1.9146341463rem  +  2.9268292683vw , 4rem );
  }
}

@supports not (font-size: clamp( 2.5rem , 1.9146341463rem  +  2.9268292683vw , 4rem )) {
  .content-we-belive__title {
    font-size: calc(2.5rem + 1.5 * (100vw - 20rem) / 51.25);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 0.1524390244rem  +  5.487804878vw , 4.0625rem )) {
  .content-we-belive__title:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.1524390244rem  +  5.487804878vw , 4.0625rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.1524390244rem  +  5.487804878vw , 4.0625rem )) {
  .content-we-belive__title:not(:last-child) {
    margin-bottom: calc(1.25rem + 2.8125 * (100vw - 20rem) / 51.25);
  }
}

.content-we-belive__text {
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #85878C;
}

@supports (margin-bottom: clamp( 1.25rem , 0.1524390244rem  +  5.487804878vw , 4.0625rem )) {
  .content-we-belive__text:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.1524390244rem  +  5.487804878vw , 4.0625rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.1524390244rem  +  5.487804878vw , 4.0625rem )) {
  .content-we-belive__text:not(:last-child) {
    margin-bottom: calc(1.25rem + 2.8125 * (100vw - 20rem) / 51.25);
  }
}

.content-we-belive__text::before {
  content: "";
  display: inline-block;
  background: url("../img/icons/quotes.svg") 0 0/contain no-repeat;
  width: 47px;
  height: 40px;
  margin-right: 0.625rem;
  -webkit-transform: translateY(0.625rem);
      -ms-transform: translateY(0.625rem);
          transform: translateY(0.625rem);
}

.content-we-belive__name-chef {
  font-size: 2rem;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #34C759;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.5rem;
}

@supports (margin-bottom: clamp( 2.1875rem , 1.4557926829rem  +  3.6585365854vw , 4.0625rem )) {
  .content-we-belive__name-chef:not(:last-child) {
    margin-bottom: clamp( 2.1875rem , 1.4557926829rem  +  3.6585365854vw , 4.0625rem );
  }
}

@supports not (margin-bottom: clamp( 2.1875rem , 1.4557926829rem  +  3.6585365854vw , 4.0625rem )) {
  .content-we-belive__name-chef:not(:last-child) {
    margin-bottom: calc(2.1875rem + 1.875 * (100vw - 20rem) / 51.25);
  }
}

.content-we-belive__chef-position {
  font-size: 1rem;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #85878C;
}

.no-webp .menu-slider-pages__wrap{
  background: url("../img/menu/bg.jpg") 50% top/cover no-repeat; }

.menu-slider-pages__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  position: relative;
}

@supports (padding-top: clamp( 3.125rem , 2.881097561rem  +  1.2195121951vw , 3.75rem )) {
  .menu-slider-pages__wrap {
    padding-top: clamp( 3.125rem , 2.881097561rem  +  1.2195121951vw , 3.75rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 2.881097561rem  +  1.2195121951vw , 3.75rem )) {
  .menu-slider-pages__wrap {
    padding-top: calc(3.125rem + 0.625 * (100vw - 20rem) / 51.25);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 2.881097561rem  +  1.2195121951vw , 3.75rem )) {
  .menu-slider-pages__wrap {
    padding-bottom: clamp( 3.125rem , 2.881097561rem  +  1.2195121951vw , 3.75rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.881097561rem  +  1.2195121951vw , 3.75rem )) {
  .menu-slider-pages__wrap {
    padding-bottom: calc(3.125rem + 0.625 * (100vw - 20rem) / 51.25);
  }
}

.menu-slider-pages__wrap::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.555);
  top: 0;
  left: 0;
}

.menu-slider-pages__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 98.75rem;
  position: relative;
  z-index: 2;
}

.menu-slider-pages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (row-gap: clamp( 0.9375rem , -0.2820121951rem  +  6.0975609756vw , 4.0625rem )) {
  .menu-slider-pages__list {
    row-gap: clamp( 0.9375rem , -0.2820121951rem  +  6.0975609756vw , 4.0625rem );
  }
}

@supports not (row-gap: clamp( 0.9375rem , -0.2820121951rem  +  6.0975609756vw , 4.0625rem )) {
  .menu-slider-pages__list {
    row-gap: calc(0.9375rem + 3.125 * (100vw - 20rem) / 51.25);
  }
}

.menu-slider-pages__link {
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
}

@supports (font-size: clamp( 2.5rem , 1.9146341463rem  +  2.9268292683vw , 4rem )) {
  .menu-slider-pages__link {
    font-size: clamp( 2.5rem , 1.9146341463rem  +  2.9268292683vw , 4rem );
  }
}

@supports not (font-size: clamp( 2.5rem , 1.9146341463rem  +  2.9268292683vw , 4rem )) {
  .menu-slider-pages__link {
    font-size: calc(2.5rem + 1.5 * (100vw - 20rem) / 51.25);
  }
}

.no-webp .customers{
  background: url("../img/main-bg.jpg") 0 0/cover no-repeat; }

.customers__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports (margin-bottom: clamp( 1.875rem , 1.0213414634rem  +  4.2682926829vw , 4.0625rem )) {
  .customers__top:not(:last-child) {
    margin-bottom: clamp( 1.875rem , 1.0213414634rem  +  4.2682926829vw , 4.0625rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.0213414634rem  +  4.2682926829vw , 4.0625rem )) {
  .customers__top:not(:last-child) {
    margin-bottom: calc(1.875rem + 2.1875 * (100vw - 20rem) / 51.25);
  }
}

.customers__items {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  row-gap: 1.875rem;
}

.item-customers__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  position: relative;
  min-height: 210px;
}

.item-customers__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.item-customers__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-customers__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #85878C;
}

.item-customers__text:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.item-customers__title {
  font-size: 1.875rem;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #34C759;
}

.item-customers__title:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.no-webp .gallery__wrap{
  background: url("../img/main-bgbg.jpg") 0 0/cover no-repeat; }

.gallery__wrap {
  padding-top: 120px;
}

@supports (padding-bottom: clamp( 3.125rem , 2.881097561rem  +  1.2195121951vw , 3.75rem )) {
  .gallery__wrap {
    padding-bottom: clamp( 3.125rem , 2.881097561rem  +  1.2195121951vw , 3.75rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.881097561rem  +  1.2195121951vw , 3.75rem )) {
  .gallery__wrap {
    padding-bottom: calc(3.125rem + 0.625 * (100vw - 20rem) / 51.25);
  }
}

.content-gallery {
  z-index: 3;
  display: -ms-grid;
  display: grid;
  row-gap: 1.5rem;
}

.content-gallery__subtitle {
  font-weight: 700;
  font-size: 1.4375rem;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.content-gallery__title {
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #34C759;
}

@supports (font-size: clamp( 2.5rem , 1.9146341463rem  +  2.9268292683vw , 4rem )) {
  .content-gallery__title {
    font-size: clamp( 2.5rem , 1.9146341463rem  +  2.9268292683vw , 4rem );
  }
}

@supports not (font-size: clamp( 2.5rem , 1.9146341463rem  +  2.9268292683vw , 4rem )) {
  .content-gallery__title {
    font-size: calc(2.5rem + 1.5 * (100vw - 20rem) / 51.25);
  }
}

.content-gallery__text {
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #85878C;
}

.content-gallery__button {
  -ms-grid-column-align: start;
      justify-self: start;
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  line-height: 175%;
  letter-spacing: 0.04em;
  -webkit-transition: background-color 0.5s ease 0s, color 0.5s ease 0s, border-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s, color 0.5s ease 0s, border-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s, color 0.5s ease 0s, border-color 0.5s ease 0s;
  border: 1px solid rgba(0, 0, 0, 0);
}

.slide-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slide-body__image-ibg {
  border: 1px solid #85878C;
  padding-bottom: 128.2857142857%;
  position: relative;
  -webkit-transition: border 0.3s ease 0s;
  -o-transition: border 0.3s ease 0s;
  transition: border 0.3s ease 0s;
}

.slide-body__image-ibg::before {
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -o-linear-gradient(242.45deg, rgba(0, 0, 0, 0.75) 1.5%, rgba(0, 0, 0, 0.64) 98.62%);
  background: linear-gradient(207.55deg, rgba(0, 0, 0, 0.75) 1.5%, rgba(0, 0, 0, 0.64) 98.62%);
  z-index: 2;
  opacity: 0;
}

.slide-body__image-ibg::after {
  content: "";
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  position: absolute;
  width: 43px;
  height: 43px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("../img/icons/inst.svg") 0 0/cover no-repeat;
  z-index: 3;
  opacity: 0;
}

.no-webp .subsctibe{
  background: url("../img/main-bg.jpg") 0 0/cover no-repeat; }

.subsctibe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subsctibe__header {
  max-width: 38.75rem;
  text-align: center;
  margin: 0 auto;
}

.subsctibe__header:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.subsctibe__top:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.subsctibe__text {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 175%;
  letter-spacing: 0.04em;
}

.subsctibe__text:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.main-form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 1rem 1.125rem;
  color: #fff;
  background: inherit;
  outline: none;
}

.main-form__input::-webkit-input-placeholder {
  color: #34C759;
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.main-form__input::-moz-placeholder {
  color: #34C759;
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.main-form__input:-ms-input-placeholder {
  color: #34C759;
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.main-form__input::-ms-input-placeholder {
  color: #34C759;
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.main-form__input::placeholder {
  color: #34C759;
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.main-form__button {
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  line-height: 175%;
  letter-spacing: 0.04em;
  -webkit-transition: background-color 0.5s ease 0s, color 0.5s ease 0s, border-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s, color 0.5s ease 0s, border-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s, color 0.5s ease 0s, border-color 0.5s ease 0s;
  border: 1px solid rgba(0, 0, 0, 0);
  border-right: none;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

[data-simplebar] {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%;
  /* Not required for horizontal scroll to trigger */
  max-height: 100%;
  /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: " ";
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.simplebar-height-auto-observer {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: black;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  -webkit-transition: opacity 0s linear;
  -o-transition: opacity 0s linear;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */

[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media (min-width: 29.99875em) {
  .customers__items {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  .item-customers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .item-customers__img::before {
    content: "";
    position: absolute;
    bottom: -20px;
    right: -5%;
    width: 2.9375rem;
    height: 2.5rem;
    background: url("../img/icons/quotes.svg") 0 0 no-repeat;
    z-index: 2;
  }

  .main-form__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #34C759;
    border-radius: 0rem 2.6875rem 2.6875rem 0rem;
  }

  .main-form__body._form-error {
    border: 1px solid red;
  }
}

@media (min-width: 37.49875em) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 47.99875em) {
  .we-belive__wrap-img {
    padding: 24px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 586px;
            flex: 1 1 586px;
  }

  .we-belive__wrap-img::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 55%;
    background: #34C759;
    top: 0;
    right: 0;
  }

  .we-belive__wrap-img::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 55%;
    background: #34C759;
    bottom: 0;
    left: 0;
  }

  .content-we-belive {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 40%;
            flex: 1 0 40%;
  }

  .gallery__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }

  .no-webp .gallery__wrap::before{
    background: url("../img/main-bgbg.jpg") 0 0/cover no-repeat; }

  .gallery__wrap::before {
    content: "";
    position: absolute;
    width: calc(50% + 30px);
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
  }

  .gallery__container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 1fr;
    grid-template-columns: 50% 1fr;
    gap: 1.875rem;
  }

  .gallery__slider.swiper {
    min-width: 0;
    overflow: visible;
  }

  .content-gallery {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .slide-body {
    width: 350px;
  }
}

@media (min-width: 61.99875em) {
  ::-webkit-scrollbar {
    width: 0;
  }

  .menu-slider-pages__link {
    opacity: 0.6;
    -webkit-transition: opacity 0.3s ease 0s, color 0.3s ease 0s, background-color 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s, color 0.3s ease 0s, background-color 0.3s ease 0s;
    transition: opacity 0.3s ease 0s, color 0.3s ease 0s, background-color 0.3s ease 0s;
  }
}

@media (min-width: 62em) {
  .work__items {
    -webkit-transition: opacity 1s ease 0s, -webkit-transform 1s ease 0s;
    transition: opacity 1s ease 0s, -webkit-transform 1s ease 0s;
    -o-transition: transform 1s ease 0s, opacity 1s ease 0s;
    transition: transform 1s ease 0s, opacity 1s ease 0s;
    transition: transform 1s ease 0s, opacity 1s ease 0s, -webkit-transform 1s ease 0s;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }

  ._watcher-view .work__items {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@media (max-width: 62em) {
  .work__items {
    margin-right: -0.9375rem;
  }
}

@media (max-width: 71.25em) {
  .fp-bullets {
    right: 0.9375rem;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fp] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }

  .titles__main-title {
    font-weight: 900;
    position: relative;
  }

  .titles__under-title {
    display: none;
  }

  .we-belive__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 1.5625rem;
  }

  .gallery__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .gallery__content:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .gallery__slider {
    margin-right: -0.9375rem;
  }
}

@media (max-width: 37.49875em) {
  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background: #000;
    -webkit-transition: top 0.3s ease 0s;
    -o-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
  }

  .menu__body {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu__list {
    padding-top: 7.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: auto;
    width: 100%;
    text-align: center;
    row-gap: 3.125rem;
  }

  .menu__link {
    font-size: 2.1875rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #34C759;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 29.99875em) {
  .socials__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .we-belive__wrap-img {
    margin: 0 -0.9375rem;
  }

  .item-customers__img {
    padding-bottom: 100%;
    margin: 0 -0.9375rem;
  }

  .item-customers__img:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .item-customers__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .main-form__input {
    border: 1px solid #34C759;
    border-radius: 2.6875rem;
    width: 100%;
  }

  .main-form__input:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .main-form__input._form-error {
    border: 1px solid red;
  }
}

@media (any-hover: hover) {
  .fp-bullets .fp-bullet:hover {
    opacity: 1;
  }

  .socials__link:hover {
    background-color: #34C759;
    -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
            transform: rotate(10deg);
  }

  .menu__link:hover {
    color: #34C759;
  }

  .top-main-page__button:hover {
    color: #000;
    border: 1px solid #34C759;
  }

  .top-main-page__button:hover::before {
    content: "";
    top: 0;
    left: 0%;
    background: #34C759;
    z-index: 1;
    border-radius: 0;
  }

  .item-contacts__info_link:hover {
    color: #34C759;
  }

  .menu-slider-pages__link:hover {
    opacity: 1;
    color: #34C759;
    text-decoration: underline;
  }

  .content-gallery__button:hover {
    background-color: #000;
    color: #34C759;
    border: 1px solid #34C759;
  }

  .slide-body__image-ibg:hover {
    border: 1px solid #34C759;
  }

  .slide-body__image-ibg:hover::before,
  .slide-body__image-ibg:hover::after {
    content: "";
    opacity: 1;
  }

  .main-form__button:hover {
    background-color: #000;
    color: #34C759;
    border: 1px solid #34C759;
    border-right: none;
  }
}

.webp .work .work__wrapper{ background: url(../img/fixed2.webp) 60%/cover no-repeat; }

.webp .we-belive{ background: url(../img/what-we-belive/bg.webp) 0 0/cover no-repeat; }

.webp .menu-slider-pages__wrap{ background: url(../img/menu/bg.webp) 50% top/cover no-repeat; }

.webp .customers{ background: url(../img/main-bg.webp) 0 0/cover no-repeat; }

.webp .gallery__wrap{ background: url(../img/main-bgbg.webp) 0 0/cover no-repeat; }

.webp .subsctibe{ background: url(../img/main-bg.webp) 0 0/cover no-repeat; }

@media (min-width: 47.99875em){

  .webp .gallery__wrap::before{ background: url(../img/main-bgbg.webp) 0 0/cover no-repeat; }
}